*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
/*
1. Vị trí
2. Kích thước
3. Màu sắc
4. Kiểu dáng.
*/
/*
từ ngoài vào trong 
từ trên xuống dưới
*/
#wrapper {

}
#header {
    background-color: #000;
    height: 46px;
    position: sticky;
    top: 0;
    z-index: 1;
}

/* Navigation */
#nav {
    display: inline;
}
#nav > li {
    display: inline-block;
}
#nav li {
    list-style-type: none;
    float: left;
    position: relative;
}
#nav > li > a {
    text-transform: uppercase;
    color: #fff;
}
#nav li a {
    color: #fff;
    line-height: 46px;
    padding: 0 24px;
    text-decoration: none;
    display: block;
}
#nav .nav-down {
    font-size: 14git px;
}
#nav li:hover > a,
#nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
}
#nav li:hover .subnav {
    display: block;
}
#nav .subnav {
    display: none;
    position: absolute; 
    background-color: #fff;
    box-shadow: 0 0 10px rgba(1, 1, 1, 0.5);
    top: 46px;
}
#nav .subnav a {
    color: #000;
    display: block;
    width: 160px;
    padding: 0 12 px;
    line-height: 38px;
}
/* end session */

#header .search-btn {
    float: right;
    
}
#header .search-icon{
    color: #fff;
    line-height: 46px;
    padding: 0px 24px;
}
#header .search-btn:hover{
    background-color: red;
    cursor: pointer;
}
#slider {
    padding-top: 50%;
    background: url('/assets/img/slider/chicago.jpg') top center / cover no-repeat;
    position: relative;
}
#slider .text-content {
    position: absolute;
    bottom: 47px;
    width: 100%;
    text-align: center;
    color: #fff;
}
#slider .text-heading {
    font-size: 24px;
    font-weight: 500;
}
#slider .text-description {
    font-size: 15px;
    margin-top: 25px;
}
#container {

}
#footer {

}