*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
/*
1. Vị trí
2. Kích thước
3. Màu sắc
4. Kiểu dáng.
*/
/*
từ ngoài vào trong 
từ trên xuống dưới
*/
#wrapper {

}
#header {
    background-color: #000;
    height: 46px;
    position: sticky;
    top: 0;
    z-index: 1;
}
.row {
    margin-left: -8px;
    margin-right: -8px;
}
.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-half {
    width: 50$;
}
.col-third {
    width: 33.3333%;
}
/* Navigation */
#nav {
    display: inline;
}
#nav > li {
    display: inline-block;
}
#nav li {
    list-style-type: none;
    float: left;
    position: relative;
}
#nav > li > a {
    text-transform: uppercase;
    color: #fff;
}
#nav li a {
    color: #fff;
    line-height: 46px;
    padding: 0 24px;
    text-decoration: none;
    display: block;
}
#nav .nav-down {
    font-size: 14git px;
}
#nav li:hover > a,
#nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
}
#nav li:hover .subnav {
    display: block;
}
#nav .subnav {
    display: none;
    position: absolute; 
    background-color: #fff;
    box-shadow: 0 0 10px rgba(1, 1, 1, 0.5);
    top: 46px;
}
#nav .subnav a {
    color: #000;
    display: block;
    width: 160px;
    padding: 0 12 px;
    line-height: 38px;
}
/* end session */

#header .search-btn {
    float: right;
    
}
#header .search-icon{
    color: #fff;
    line-height: 46px;
    padding: 0px 24px;
}
#header .search-btn:hover{
    background-color: red;
    cursor: pointer;
}
#slider {
    padding-top: 50%;
    background: url('/assets/img/slider/chicago.jpg') top center / cover no-repeat;
    position: relative;
}
#slider .text-content {
    position: absolute;
    bottom: 47px;
    width: 100%;
    text-align: center;
    color: #fff;
}
#slider .text-heading {
    font-size: 24px;
    font-weight: 500;
}
#slider .text-description {
    font-size: 15px;
    margin-top: 25px;
}
#container {
    width: 100%;
}
#container #content-section,
.tour-section,
#contact-section {
    width: 800px;
    margin-left: auto; /* đẩy sang trái đẩy sang phải auto ra giữa */
    margin-right: auto;
    padding: 64px 0;
}
#container .section-heading{
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
}
#container .section-heading,
#container .section-subheading {
    text-align: center;
}
#container .section-subheading {
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    opacity: 60%;
}
#container .about-text {
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;
    line-height: 1.4;
}
#container ul{
    list-style-type: none;
    display: inline-block;
    padding: 32px 0;
}
#container .member-list > li {
    float: left;
    padding: 32px 47px;
}
#container .infor-band > img{
    width: 154px;
    height: 154px;
    border-radius: 4px;
}
#container .infor-band p{
    margin: 15px 0;
    text-align: center;
    
}

#about-tourdates {
    background-color: #000;
}
#about-tourdates .tour-section{
    height: 800px;
    color: #fff;
}
.list-ticket li {
    color: #757575;
    background-color: #fff;
    width: 800px;
    border-bottom: 1px solid #ddd;
    padding: 12px 16px;
    font-size: 15px;
    
}
.list-ticket .sold-out {
    background-color: #f44336;
    margin-left: 16px;
    color: #fff;
    display: inline-block;
    padding: 4px 4px;
}
.list-ticket .quantiki {
    float: right;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    text-align: center;
}

.list-places {
    padding-top: 0px;
    margin-left: -8px;
    margin-right: -40px;
}
.places-items ul{
    margin: -16px -18px;
}
.places-items {
    padding: 0px 25px;
}
.places-items li {
    float: left;
    width: 33.3333%;
}
.places-items .places-img img {
    width: 245px;
    height: 184px;
}
.places-body {
    margin-right: 30px;
    background-color: #fff;
    color: #000;
    margin-top: -4px;
    line-height: 12px;
    font-size: 15px;
    font-family: sans-serif;
    padding-top: 12px;
    padding-bottom: 22px;
    
}
.places-heading {
    margin: 15px;
    margin-bottom: 4px;
}
.places-date, 
.places-description,
.places-btn-buy {
    margin: 15px;
    padding-top: 10px;
    line-height: 22px;
}
.places-date {
    opacity: 0.7;
}
.places-btn-buy a {
    text-decoration: none;
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 8px 8px;
}
.places-img :hover img {
    opacity: 0.6;
}
.places-btn-buy a:hover {
    background-color: #ccc;
    color: #000;
}

.contact {

}
.contact-infor {
    padding-top: 49px;
    margin-bottom: 16px;
    padding-left: 0%;
    margin-left: -47px;
    font-size: 18px;
}
.ico-infor {

}
.ct-infor {
    float: left;
    padding-left: 32px;
    margin-top: -20px;
    padding-bottom: 14px;
    width: 338px;
}
.contact-form {
    float: right;
    margin-top: -116px;
    padding-left: 410px;
    
}
.form-control-name,
.form-control-email {
    height: 40px;
    width: 183.98px;

}
.contact-email {
    padding-left: 16px;
}
.form-control-message {
    height: 40px;
    width: 389px;
}
.btn-submit {
    float: right;
    margin-top: 10px;
    background-color: #000;
    padding: 12px 18px;
    color: #fff;
    cursor: pointer;
    border: none;
}
.btn-submit:hover {
    background-color: #ccc;
    color: #000;
}
.map-section img {
    width: 100%;
}
.map-section {
    padding-top: 64px;
}
.social-list {
    font-size: 24px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    color: #000;
}
.social-list a {
    color: #666;
}
.social-list a:hover {
    opacity: 0.6;
}
.footer-content {
    text-align: center;
    font-size: 15px;
    opacity: 0.7;
    
}
#footer {
    padding: 32px 0;
}