*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*
1. Vị trí
2. Kích thước
3. Màu sắc
4. Kiểu dáng.
*/
/*
từ ngoài vào trong 
từ trên xuống dưới
*/
#wrapper {

}
#header {
    background-color: #000;
    height: 46px;
    color: #fff;
}
#slider {

}
#container {

}
#footer {

}